body {
  background:#0b0b0b;
  color:#00ff99;
  font-family:monospace;
  padding:20px;
}

h1 { text-align:center; }

.tabs button {
  width:32%;
  padding:10px;
  background:#000;
  color:#00ff99;
  border:1px solid #00ff99;
  cursor:pointer;
}

.tab { display:none; margin-top:15px; }
.tab.active { display:block; }

select,input,button {
  width:100%;
  margin:5px 0;
  padding:6px;
  background:#000;
  color:#00ff99;
  border:1px solid #00ff99;
}

pre {
  background:#000;
  padding:10px;
  margin-top:15px;
  white-space:pre-wrap;
}
